* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
}

button:hover {
  opacity: 0.85;
}

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
.container__left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/sd.png);
  background-position: center;
  background-size: cover;
  height: auto;
}
.container__left .content {
  padding-inline: 1.5rem;
}
.container__left .content #pre-title {
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Source Sans 3", sans-serif;
  position: relative;
}
.container__left .content #pre-title svg {
  position: absolute;
  top: -3px;
}
.container__left .content h1 {
  font-weight: 800;
  color: #FFF;
  max-width: 888px;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
}
.container__left .content #label {
  color: #FFF;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 150%;
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
}
.container__left .content .informations {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: center;
}
@media (max-width: 1175px) {
  .container__left .content .informations {
    flex-direction: column;
    gap: 10px !important;
  }
}
.container__left .content .informations span {
  display: block;
  width: 7px;
  height: 7px;
  background-color: #22C55E;
  border-radius: 30px;
}
@media (max-width: 1175px) {
  .container__left .content .informations .divider {
    display: none;
  }
}
.container__left .content .informations p {
  color: #FFF;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
}
.container__left .content .informations p .dot {
  display: block;
  margin-right: 10px;
}
@media (min-width: 1175px) {
  .container__left .content .informations p .dot {
    display: none !important;
  }
}
@media (max-width: 1175px) {
  .container__left .content .informations p {
    margin: 0;
  }
}
.container__left .content .btns {
  width: 100%;
  gap: 2rem;
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__left .content .btns .btn-primary {
  background-color: #007AFF;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  width: 212px;
  height: 50px;
  border-radius: 50rem;
  outline: none;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  cursor: pointer;
}
.container__left .content .btns .btn-secondary {
  background-color: #ffffff;
  border-radius: 40rem;
  color: #2C2826;
  font-size: 16px;
  font-weight: 400;
  width: 175px;
  height: 50px;
  outline: none;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 590px) {
  .container__left .content #pre-title {
    font-size: 15px;
    text-align: start;
  }
  .container__left .content h1 {
    font-weight: 700;
    width: auto !important;
    font-size: 45px;
    text-align: left;
  }
  .container__left .content #label {
    color: #FFF;
    font-size: 16px;
    text-align: left;
    width: auto !important;
  }
  .container__left .content .informations {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 590px) and (max-width: 1175px) {
  .container__left .content .informations {
    flex-direction: column;
    gap: 10px !important;
  }
}
@media screen and (max-width: 590px) {
  .container__left .content .informations p {
    text-align: left !important;
  }
  .container__left .content .btns {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}
.container__right {
  min-width: 456px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: auto;
}
.container__right .logo {
  margin: 3rem 2rem 1.5rem 2rem;
  user-select: none;
}
.container__right .main-form {
  width: 100%;
  padding: 1.2rem 2.7rem;
}
.container__right .main-form h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1A1A1A;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
}
.container__right .main-form form {
  width: 100%;
}
.container__right .main-form form .form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 1rem;
}
.container__right .main-form form .form-group label {
  font-size: 11px;
  color: #333333;
  font-weight: 400;
  line-height: 12px;
  margin-left: 1rem;
  margin-bottom: 5px;
  font-family: "Source Sans 3", sans-serif;
}
.container__right .main-form form .form-group input, .container__right .main-form form .form-group textarea {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  background-color: #F2F2F2;
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-size: 15px;
  line-height: 20px;
  padding: 0 1rem;
  outline: none;
  border: 0.5px solid #E5E5E5;
  color: #1A1A1A;
}
.container__right .main-form form .form-group input::placeholder, .container__right .main-form form .form-group textarea::placeholder {
  user-select: none;
}
.container__right .main-form form .form-group textarea {
  padding-block: 1rem;
  height: auto;
  resize: none;
}
.container__right .main-form form button {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  margin-top: 1rem;
  background-color: #007AFF;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
.container__right .main-form form p {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  letter-spacing: -0.4px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 3rem;
}
@media screen and (max-width: 991px) {
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  .container__left {
    height: fit-content !important;
    padding-block: 6rem;
  }
}
@media (min-height: 845px) {
  .container__left {
    height: 100vh !important;
  }
}
@media (min-height: 845px) {
  .container__right {
    height: 100vh !important;
  }
}
@media screen and (max-width: 590px) {
  .container__right {
    min-width: auto;
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
